<div class="crew-card">
  <mat-tab-group>
    <!-- Card Tab -->
    <mat-tab label="{{'CREW_CARD' | translate}}">
      <div *ngIf="crew">
        <h2>{{ crew.firstName }} {{ crew.lastName }}</h2>
        <p><strong>{{'TITLE' | translate}} :</strong> {{ crew.title }}</p>
        <p><strong>{{'NATIONALITY' | translate}} :</strong> {{ crew.nationality }}</p>
        <p><strong>{{'DAYS_ON_BOARD' | translate}} :</strong> {{ crew.daysOnBoard }}</p>
        <p><strong>{{'DAILY_RATE' | translate}} :</strong> {{ crew.dailyRate }}</p>
        <p><strong>{{'CURRENCY' | translate}} :</strong> {{ crew.currency }}</p>
        <p><strong>{{'TOTAL_INCOME' | translate}} :</strong> {{ calculateTotalIncome(crew.dailyRate, crew.daysOnBoard, crew.currency) }}</p>
      </div>
    </mat-tab>

    <!-- Certificates Tab -->
    <mat-tab label="{{'CERTIFICATES' | translate}}">
      <div *ngIf="crew && crew.certificates">
        <ul>
          <li *ngFor="let certificate of crew.certificates">
            <strong>{{ certificate.type }}</strong>
            <p>{{'ISSUE_DATE' | translate}}: {{ certificate.issueDate }}</p>
            <p>{{'EXPIRY_DATE' | translate}}: {{ certificate.expiryDate }}</p>
          </li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
