<h1 mat-dialog-title>Edit Crew</h1>
<div class="edit-crew-dialog" mat-dialog-content>
  <form [formGroup]="editForm">
    <!-- Diğer alanlar aynı kalacak -->
    <mat-form-field appearance="fill">
      <mat-label>{{"FIRST_NAME" | translate}}</mat-label>
      <input matInput formControlName="firstName" placeholder='{{"FIRST_NAME" | translate}}'>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"LAST_NAME" | translate}}</mat-label>
      <input matInput formControlName="lastName" placeholder='{{"LAST_NAME" | translate}}'>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"NATIONALITY" | translate}}</mat-label>
      <input matInput formControlName="nationality" placeholder='{{"NATIONALITY" | translate}}'>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"TITLE" | translate}}</mat-label>
      <input matInput formControlName="title" placeholder='{{"TITLE" | translate}}'>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"DAYS_ON_BOARD" | translate}}</mat-label>
      <input type="number" matInput formControlName="daysOnBoard" placeholder='{{"DAYS_ON_BOARD" | translate}}'>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"DAILY_RATE" | translate}}</mat-label>
      <input type="number" matInput formControlName="dailyRate" placeholder='{{"DAILY_RATE" | translate}}'>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"CURRENCY" | translate}}</mat-label>
      <mat-select formControlName="currency">
        <mat-option value="USD">USD</mat-option>
        <mat-option value="EUR">EUR</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"DISCOUNT" | translate}}</mat-label>
      <input type="number" matInput formControlName="discount" placeholder='{{"DISCOUNT" | translate}}'>
    </mat-form-field>
  </form>

  <table class="crew-add-table-certificates">
    <h2>{{'CERTIFICATE' | translate}}</h2>

    <div class="certificate-add-table">
    <mat-form-field>
      <mat-label>{{'CERTIFICATE_TYPE' | translate}}</mat-label>
      <mat-select [(ngModel)]="newCertificateType" name="certificateType" required>
      <mat-option *ngFor="let type of certificateTypes" [value]="type">{{type.type}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>{{'ISSUE_DATE' | translate}}</mat-label>
      <input matInput placeholder="{{'ISSUE_DATE' | translate}}" [(ngModel)]="newCertificate.issueDate" name="issueDate" type="date" required />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>{{'EXPIRY_DATE' | translate}}</mat-label>
      <input matInput placeholder="{{'EXPIRY_DATE' | translate}}" [(ngModel)]="newCertificate.expiryDate" name="expiryDate" type="date" required />
    </mat-form-field>
  
    <button mat-button class="addCertificate-button" type="button" (click)="addCertificate()">{{'ADD_CERTIFICATE' | translate}}</button>
    </div>

    <!-- Sertifikaların listesini göster -->
    <div *ngIf="crewCertificates?.length ?? 0 > 0">
      <h3>{{'ADDED_CERTIFICATES' | translate}}</h3>
      <mat-list>
        <mat-list-item *ngFor="let certificate of crewCertificates; let i = index">
          {{ certificate.type }}
          <button type="button" mat-icon-button color="warn" (click)="removeCertificate(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="close()">{{'CANCEL' | translate}}</button>
  <button mat-button (click)="save()" [disabled]="!editForm.valid">{{'SAVE' | translate}}</button>
</div>
